@charset "utf-8";


/* This is where we learned about comments and how the comment section can give some info about my stylesheet.
    Css Stylesheet for index.html
    Author: Matthew Rozean
    Date: 01/22/2021
    Filename: styles.css
    Type: CSS3 
*/

/* HTML Styles */

html {
    background: url("bones.jpg") center center / 100% 100% no-repeat fixed;
}

/* Header and NavBar Styles */

body {
    font-family: sans-serif, 'Times New Roman';
    text-align: center;
    padding: 10px;
}

header {
    border-style: groove;
    border-color: black;
    background: rgb(92, 64, 51) url(cute_frenchie.gif) left / 20% 100% no-repeat;
}

div#top_right {
    font-family: Impact, 'Times New Roman';
    float: right;
    padding: 5px;
}

nav#questions a:link, a:visited {
    border-radius: 5px;
    padding: 6px;
    color: black;
}

nav#questions a:hover, a:active {
    border-radius: 6px;
    background: white;
    color: black;
}

header > p { /* M2LO3 - Each element changes how I want the text to look in the Header of my site  */
    font-family: Impact, 'Times New Roman'; /* M2LO13 - Shows how I would like the text to look on my site  */ 
    font-size: xx-large; /* M2LO13 */
    font-weight: bold;
    text-align: center; 
    padding: 10px 10px 15px 10px;
    text-shadow: rgb(210, 180, 140) 20px 10px 10px;
    color: black; /* M2LO15 */
    opacity: 0.9;
}

h1#header_page {
    font-family: Impact, 'Times New Roman';
    font-size: x-large;
    text-align: center;
    text-shadow: rgb(210, 180, 140) 8px 6px 4px;
    color: black;
    padding: 5px;
}

div.nav_bar li {
    font-family: Impact, 'Times New Roman';
    font-style: italic;
    text-align: center;
    list-style-type: none;
}
div#tabs > ul > li { /* - M5LO4 - This style of coding makes my nav bar stack, when the screen size gets smaller */
    display: inline-block; 
    position: relative; 
    border-style: double;
    border-width: thick;
    border-color: rgb(210, 180, 140);
    border-radius: 10px;
}

nav a:link, nav a:visited {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none; /* M2LO13 */ 
    padding: 14px 16px; /* M2LO12 */
    background-color: rgb(128,96,65);
    border-radius: 5px;
}
nav a:hover, nav a:active { /* M2LO11 - Here I used pseudo class so that the tab changes color when the mouse hovers over the tab*/
    background-color: white;
    border-radius: 5px;
    color:rgb(210, 180, 140); /* M2LO15 */
}

/* Image Styles */

figure img {
    display: inline-block; /* M2LO12 */
    border-style: outset;
    border-width: thick;
    border-color: black rgb(210, 180, 140) black rgb(128,96,65);
    margin: auto;
}

div#skate img {
    display: inline-block;
    margin: auto;
}

div.breeder_img {
    border: outset thick black;
    border-top: none;
    margin: auto;
    width: 30%;
}

/* Question and Comment Form Box Styles */

/* -M7LO11-
Here you can see all the styles I added to the 
form box that I created. Instead of the generic
look it had I added a few things to have the titles
for each input to stick out, also put some padding 
to give the boxes some space and for it to be easier 
to read for the users.  */

form#Questions_Comments {
    padding-top: 10px;
    padding-bottom: 10px;
}

div#form_box {
    border: double black 10px;
    background-color: rgb(92, 64, 51);
}

div#legend {
    font-family: Impact, 'Times New Roman';
    font-size: x-large;
    padding: 5px;
    background-color: rgb(128,96,65);
    color: black;
    width: 50%;
    margin: auto;
}

div.form_row {
    padding: 5px;
}

label {
    font-family: 'Times New Roman';
    font-size: large;
    background-color: rgb(210, 180, 140);
    width: 30%;
    margin: auto;
}

textarea {
    width: 50%;
}

div#buttons {
    padding: 5px;
}

/* Health Information Page Styles */


div.container p.header {
    font-family: Impact, 'Times New Roman';
    font-size: large;
    font-style: italic;
    background: black;
    color: white;
    margin: auto;
}

div.container p.info {
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    border: dotted black 5px;
    background: rgb(245, 118, 26);
}

div#top {
    width: 50%;
    margin: auto;
}
div#left {
    float: left;
    width: 25%;
    margin: auto;
}

div#right {
    float: right;
    width: 25%;
    margin: auto;
}

div#bottom {
    width: 50%;
    margin: auto;
}

/* Breeders / Adoption Options Page */

div.breeder_info {
    border: dashed black 5px;
    background: rgb(92, 64, 51);
    color: rgb(210, 180, 140);
}

/* Footer Styles */
footer {
    font-family: sans-serif, 'Times New Roman'; /* M2LO13 */
    font-style: italic;
    text-align: left;
    font-size: small;
    font-weight: bold;
    color: black; 
    padding-top: 5px;
}

div#footer_box {
    border-top: solid black 5px;
    padding: 5px;
}